.myClassesSection{
  display: flex;
  align-items: left;
  height: 89svh;
  width: 100%;
}

.sideBarMyActivities{
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  height: max-content;
  justify-content: space-around;
}

.H1myActivities{
  margin-top: var(--margin-m);

  font-size: 40px;
  color: var(--color-202);
  text-align: center;
}

.myClassesInstruction{
  margin-top: var(--margin-xxl);
}

.activityTypeDiv{
  display: flex;

  margin: var(--margin-m) 0px; 
  margin-top: var(--margin-xl);
  flex-direction: column;
  align-items: center;
}

.buttonsDiv > button{
  width: 140px;
  padding: 5px 0px;
  cursor: pointer;
}
 
.classActivityButtonDiv{
  display: flex;
  width: 100%;
}

.myActivitiesInfo{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--gap-s);
  height: 60px;
}

@media (max-width: 800px) {
  .myClassesSection{
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
}


/* ----Side bar and content---------------------------------- */
.activitiesSidebarAndChosenActivities{
  width: 100%;
  height: 100%;
  display: flex;
}

.activitiesShownSidebar{
  height: 70%;
  width: 350px;
  padding: var(--padding-s);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.addtitleDiv, 
.addQuestionsMyActivities, 
.activitySearchBarMyAct{
  height: 90%;
  width: 80%;
  margin-bottom: var(--margin-s);
  height: 350px;
  overflow: hidden;
}


.textAreaSideBarMyClasses{
  width: 250px;
  height: 80px;
  text-align: center;
  padding-top: var(--padding-xs);
  margin-bottom: var(--margin-xs);
}

.showQuestionTypedMyClasses{ 
  padding: var(--padding-xs) var(--padding-xs);
  margin: 0px var(--margin-xs);
  margin-bottom: var(--margin-xs);
}

.submitActivityButton{
  width: 120px;
  background-color: var(--color-102);
  border: none;
  color: var(--color-000);
  font-size: 14px;
  padding: var(--padding-xxs) 0;
  margin-top: var(--margin-s);
}


@media (max-width: 1450px) {
  .activitiesSidebarAndChosenActivities{
    height: 100%;
  }
}

@media (max-width: 740px) {
  .activitiesShownSidebar{
    position: relative;
    width: 100%;
    padding: var(--padding-s);
  }

  .submitActivityButton{
    width: 100px;
    font-size: 13px;
    padding: var(--padding-xxs) 0;
  }

}


/* ---- CONTENT ------------------------------------------------ */
.startMessageMyClasses{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


/* ----- ACTIVITIES CHOSEN------------------------------------------------------ */
.selectedActivitiesDiv{
  width: 100%;
  height: 100%;
  /* background-color: rebeccapurple; */
  padding: var(--padding-s);
}

.activitiesChosenDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.activityTitle{
  position: absolute;
  top: 25px;
  font-size: larger;
  font-weight: 600;
  text-align: center;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-102);
}

.tiltedTitle{
  font-style: italic;
}

.allChosenActivitiesContainer{
  display: flex;
  height: 95%;
  justify-content: space-evenly;
  align-items: center
}

.gapfillAndVideoChosenDiv{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: var(--color-300);
  margin-top: var(--margin-xxl);
}


.activitiesChosenDiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}


@media (max-width: 1450px) {
.activitiesChosenDiv{
  margin-top: var(--margin-xs);
  justify-content: center;
}

  .allChosenActivitiesContainer{
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    height: 380px;
    height: 88%;
    margin-top: var(--margin-xxl);
  }

  .gapfillAndVideoChosenDiv{
    display: flex;
    width: 100%;
    min-width: 340px;
    align-items: center;
    margin-top: 0;
    overflow-y: auto;
  }

}

@media (max-width: 1100px) {
  .gapfillAndVideoChosenDiv{
    flex-direction: column;
    height: max-content;
  }
}

@media (max-width: 740px){
  .gapfillAndVideoChosenDiv{
    overflow-y: visible;
  }
}



@media (max-width: 740px) {
  .selectedActivitiesDiv{
    margin-left: 0;
    margin-top: 0;
  }

  .activitiesChosenDiv{
    flex-direction: column;
  }

  .activityTitle{
    position: relative;
    width: 100%;
    left: 0;
    transform: translateX(0%);
    margin-bottom: var(--margin-m);
  }

  .allChosenActivitiesContainer{
    margin-top: var(--margin-xxs);
    overflow-y: visible;
    height: 200px;
  }


}

/* -------------------------------- */
.resetMyClassButton{
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  padding: var(--padding-xxs) var(--padding-xs);
}

/* --Preview activity------------------------------ */

.previewVideoActivity{
  display: flex;
  justify-content: space-around;
  padding: var(--padding-l);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  width: 90%;
  height: 510px;
  overflow-y: auto;
  max-width: 1000px;
  background-color: var(--color-000);
  margin: var(--margin-m);
  border: 10px solid black;
  border-image: var(--color-105) 1;
  box-shadow: 1px 6px 5px -3px rgba(0,0,0,0.75)
}

.previewWithVideo{
  width: 50%;
  min-width: 280px;
  margin-bottom: var(--padding-xs);
}
                 
.myClassPreviewGapTextDiv{
  display: flex;
  margin-right: var(--padding-xxs);
  width: 70%;
  min-width: 280px;
  height: 100%;
  overflow-y: auto;
}

.removePreviewActivitybutton{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--color-400);
  color: white;
  border: none;
  padding: 5px;
  font-size: 10px;
  padding: var(--padding-xs) var(--padding-s);
}

.noActivityMyActivities{
  color: var(--color-102);
}


@media (max-width: 1200px){
  .previewVideoActivity{
    flex-direction: column;
    align-items: center;
    gap: var(--gap-s);
  }
}

@media (max-width: 600px) {
  .noActivityMyActivities{
    font-size: 20px;
    width: 80%;
    text-align: center;
  }
}
