.createNewActivityButtonx{
  width: max-content;
  padding: var(--padding-xs) var(--padding-s);
  background: var(--button-color-001);
  color: var(--color-000);
  font-weight: 600;
  border: none;
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 15px;
}

@media (max-width: 830px) {
  .createNewActivityButtonx{
    padding: var(--padding-xxs) var(--padding-xs);
    background: var(--button-color-001);
    color: var(--color-000);
    font-weight: 600;
    border: none;
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 10px;
  }
}