.slider-container {
  width: 60%;
  min-width: 600px;
  height: 100svh;
  border: none;
  overflow: hidden;
}

.sliderDiv{
  z-index: 0;
  position: relative;
  height: 100svh;
  overflow: hidden;
}

.sliderTextDiv{
  position: absolute;
  right: 100px;
  top: 80px;
  z-index: 999;
}

.sliderTitle{
  font-size: 35px;
  color: #7ed348;
  font-weight: 600;
  text-align: end;
  width: 450px;
}

.sliderText{
  color: var(--color-000);
  text-align: end;
  font-weight: 600;
  font-size: 33px;
  width: 448px;
}

.sliderImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.sliderDiv:focus,
.image-container:focus,
.slider-container:focus {
  outline: none;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-000);
}

.slick-dots li.slick-active > div {
  background: var(--color-202);
}