.speakingPracticeContainer{
    height: 89svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.audio-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 30%;
    margin-top: var(--margin-xl);
    padding-top: var(--padding-xl);
}

.speakingPracticeQuestion{
    margin-bottom: var(--margin-l);
}


/* ---------------------------------- */
.speakingPracticeButton{
    padding: var(--padding-xs);
    border-radius: var(--border-radius);
    background-color: aliceblue;
    color: rgba(1, 1, 65, 0.692);
    border: solid 1px rgba(0, 0, 255, 0.692);
}

.recordingInProgress{
 background-color: rgba(238, 10, 10, 0.658);   
}

.audio-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 35%;
    border: 15px solid var(--color-101);
    border-image: var(--color-105) 1;
    padding: var(--padding-s);
    background-color: var(--color-000);
}

.audioRecorder{
    margin-bottom: var(--margin-m);
    width: 80%;
}

.audioContainerText{
    width:360px;
    text-align: center;
    font-weight: 600;
    margin-bottom: var(--margin-s);
    width: 80%;
}

.correctSpeakButtonsDiv{
    display: flex;
    height: max-content;
    width: 100%;
    justify-content: space-evenly;
    margin-top: var(--margin-xs);
}

.correctSpeakingButton{
    font-size: 16px;
}


@media (max-width: 830px) {
    .audio-controls {
        width: 80%;
    }

    .speakingPracticeQuestion{
        width: 80%;
        text-align: center;
    }

    .voiceToTextNextButtons{
        position: absolute;
        bottom: 80px;
        z-index: 999;
        left: 50%;
        transform: translateX(-50%);
    }

    .audio-container{
        width: 80%;
        max-width: 500px;
    }

    .audioRecorder{
        width: 70%;
    }

    .audioContainerText{
        width: 80%;
    }

    .speakingPracticeContainer>.voiceToTextCorrectonDiv{
        margin-top: var(--margin-l);
    }
}



@media (max-width: 480px) {
    .correctSpeakingButton{
        font-size: 12px;
    }
}