
.questionsDiv{
  height: 90%;
  height: max-content;
  margin-top: 20px;
  width: max-content;
  min-width: 150px;
  max-width: 300px;
  overflow-y: auto;
}

.questionDivTitle{
  margin-bottom: var(--margin-xs);
  text-align: center  ;
  color: var(--color-102);
  font-size: 20px;
  font-weight: 600;
}

.individualQuestionDiv{
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: var(--margin-xs);
  padding: var(--padding-s) var(--padding-s);
  height: 105px;
  background-color: white;
}

.questionDivText{
  margin-bottom: var(--margin-xxs);
  color: var(--color-102);
}

.questionDivDeleteButton{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: var(--margin-xxs);
  align-self: flex-end;
  width: max-content;
  background-color: var(--color-102);
  color: var(--color-000);
  padding: var(--padding-xxs) var(--padding-xs);
  border: none;
}

@media (max-width: 1100px) {
.questionsDiv{
  overflow: visible;
}
}