.classManagerSection{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 89svh;
}

.H1ClassManager{
  margin: var(--margin-l) 0;
  text-align: center;
  font-size: 40px;
  color: var(--color-202);
}

.mainContentClassManager{
  display: flex;
  width: 100%;
  height: 80%;
}

.calendarAndCreateClassInputDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:40%;
}

.calendarAndInputsDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--margin-xs);
}

.classDetailsTitle{
  padding-top: var(--padding-xxs);
  padding-bottom: var(--padding-xs);
}

.inputsContainerClassManager{
  display: flex;
  gap: var(--gap-xs);
  margin-top: var(--margin-s);
  margin-left: var(--margin-xs);
}

.createClassInputDiv{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid rgba(0, 0, 0, 0.219) 1px;
  width: 220px;
  height: 120px;
  padding: var(--padding-s) var(--padding-m);
}

.createClassInputTitle{
  width: 200px;
  text-align: center;
  margin-bottom: var(--margin-xs);
}

.createClassDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createClassInput{
  margin-bottom: var(--margin-xs);
}

.saveChangesButtonDivMyClass{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid rgba(0, 0, 0, 0.219) 1px;
  width: 220px;
  padding: var(--padding-s) var(--padding-m);
}

.saveChangesTextMyClass{
  margin-bottom: var(--margin-s);
}

.saveChangesButton{
  background-color: var(--color-102);
  padding: var(--padding-xxs) var(--padding-xs);
  color: var(--color-000);
  border: none;
}

/* -------------------------------------- */
.createSelectClassDiv{
  display: flex;
  justify-content: center;
  width: max-content;
  width: 40%;
}

/* ------------------------ */
.showActivitiesClassManager{
  position: absolute;
  z-index: 999;
  background-color: white;
  height: 90%;
  width: 90%;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.backButtonClassManager{
  position: absolute;
  z-index: 9999;
  bottom: 5%;
  left: 3%;
}

/* --------------------------------------------- */
.howToButtonClassManager{
  position: absolute;
  left: 20px;
  bottom: 35px;
  height: 25px;
  z-index: 9999;
}

@media (max-width: 1250px) {
  .calendarAndCreateClassInputDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
  }

  .inputsContainerClassManager{
    flex-direction: column;
    gap: var(--gap-xs);
    margin-top: var(--margin-xxs);
  }
  
  .createClassInputDiv{ 
    height: 85px;
    width: 250px;
  }
  
  .createClassInputTitle{
    margin-bottom: var(--margin-xxs); 
  }
  
  .createClassDiv{
    flex-direction: row;
    gap: var(--gap-xs);
  }
  
  .createClassInput{
    margin-bottom: 0;
    width: 150px;
  }
  
  .saveChangesButtonDivMyClass{
    padding: var(--padding-xs) var(--padding-s);
    font-size: 15px;
    height: 85px;
    width: 250px;
  }
  
  .saveChangesTextMyClass{
    margin-bottom: var(--margin-xxs);
  }
  
  .saveChangesButton{
    font-size: 10px;
  }

}

@media (max-width: 1000px) {
  .mainContentClassManager{
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    margin-bottom: var(--margin-xs);
  }

  .calendarAndCreateClassInputDiv{
    display: flex;
    align-items: center;
    width:80%;
  }

  .calendarAndInputsDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-s);
    margin-top: var(--margin-xs);
  }

  .createSelectClassDiv{
    display: flex;
    justify-content: center;
    width: max-content;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .calendarAndInputsDiv{
    gap: 0;
    margin-bottom: var(--margin-xs);
    flex-direction: column;
  }

  .howToButtonClassManager{
    top: 60px;
  }
}

