.classManagerSection{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 89svh;
}

.H1ClassManager{
  margin: var(--margin-l) 0;
  text-align: center;
  font-size: 40px;
  color: var(--color-202);
}

.mainContentClassManager{
  display: flex;
  width: 100%;
  height: 80%;
}


/* -------------------------------------- */
.createSelectClassDiv{
  display: flex;
  justify-content: center;
  width: max-content;
  width: 40%;
}

/* ------------------------ */
.showActivitiesClassManager{
  position: absolute;
  z-index: 99999;
  background-color: var(--color-000);
  height: 90%;
  width: 90%;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.backButtonClassManager{
  position: absolute;
  z-index: 9999;
  bottom: 5%;
  right: 3%;
}

/* --------------------------------------------- */
.howToButtonClassManager{
  position: absolute;
  left: 20px;
  bottom: 35px;
  height: 25px;
  z-index: 9999;
}

@media (max-width: 1250px) {
  .howToButtonClassManager{
    position: absolute;
    left: 20px;
    top: 65px;
    height: 25px;
    z-index: 9999;
  }
}


@media (max-width: 1000px) {
  .mainContentClassManager{
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    margin-bottom: var(--margin-xs);
  }
}


