.addYoutubeLinkDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--margin-xxs);
  width: 100%;
}

.addYoutubeLinkTitle{
  margin-bottom: var(--margin-xxs);
  font-weight: 600;
}

.addYoutubeLinkInput{
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 20px;
}